body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

/* Header section */
.header {

    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 800px; */

}

.header-image {
    max-width: 500px;
    margin-top: 50px;
    margin-right: 100px;

}

.header-title {
    color: #272727;
    font-size: 60px;
    max-width: 500px;
    max-height: 280;
    margin-bottom: 30px;
}

.header-msg {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    width: 634px;
    margin-top: 0;
    margin-bottom: 30px;
}

.btn-primary {
    border-radius: 8px;
    border: 0;
    padding: 20px 43px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.header-content {
    max-width: 500px;
    padding-left: 100px;


}

/* Feature Section Started here */
.feature {
    background: #FFF;

}

.featue-top {
    /* text-align: center; */
}

.featue-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 160px;
}

.feature-msg {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 400px;
}

.feature-middle {
    display: flex;
    justify-content: center;

}