body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

/* Header section */
.header {

    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 800px; */

}

.header-image {
    max-width: 500px;
    margin-top: 50px;
    margin-right: 100px;

}

.header-title {
    color: #272727;
    font-size: 60px;
    max-width: 500px;
    max-height: 280;
    margin-bottom: 30px;
}

.header-msg {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    width: 634px;
    margin-top: 0;
    margin-bottom: 30px;
}

.btn-primary {
    border-radius: 8px;
    border: 0;
    padding: 20px 43px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.header-content {
    max-width: 500px;
    padding-left: 100px;


}

/* Feature Section Started here */
.feature {
    background: #FFF;
}

.feature-top {
    text-align: center;
    margin-top: 100px;
    display: block;
}

.feature-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.feature-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 594px;
    margin: auto;
}

.feature-middle {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

.feature-box1 {
    width: 364px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.feature-box2 {
    width: 364px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.feature-box3 {
    width: 364px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.feature-image {
    width: 230px;
    height: 328px;
    margin: 110px 75px 0px 75px;
    margin-bottom: 0;
}

.feature-image2 {
    width: 230px;
    height: 328px;
    margin: 80px 75px 30px 75px;
    margin-bottom: 30px;
}

.feature-boxtext {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 20px;
}

/* Feature bottom */
.feature-bottom {
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-top: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    max-width: 1145px;
    max-height: 500px;
    margin: auto;
    margin-top: 100px;
}

.feature-bottombox {
    text-align: center;
    padding-top: 40px;
}

.feature-bottombox p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

/* HOT DEAL SECTION */
.hotdeal {
    display: flex;
    gap: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}

.hotdeal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hotdeal-text {
    color: rgba(39, 39, 39, 0.60);
    max-width: 590px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;
}

.hotdeal-image {
    width: 318px;
    height: 420px;
    flex-shrink: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}